.outerDiv {
    color: #fff;
    height: 100%;
    width: 400px;
    margin: 0px auto;
}

.File_list {
    background-color: #EEE8AA;
    color: #000;
    height: 100%;
    width: 25%;
    float: left;
}

.sep {
    background-color: orange;
    height: 10px;
}

.Stategies_list {
    background-color: #EEE8AA;
    color: #000;
    height: 100%;
    width: 73%;
    float: right;
}
